
.fullwidth {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.two {
	width: 100%;
	height:600px;
}

/*.slider{
	width: 100%;
	height: 700px;
}*/
/*NAVIGATION BAR*/

.menu-navigation-icons {
  /*  font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    font-size:0;
   position: fixed;
    margin-left: 25%;
    /*margin: 0 auto;*/
   /* position: absolute;*/
    z-index: 1000;
}

.menu-navigation-icons a {
    display: inline-block;
    color: #ffffff;
    background-color: #232526;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: #;
    text-decoration: none;
    white-space: nowrap;
    width: 130px;
    height: 100px;
}

.menu-navigation-icons a:hover{
    opacity:0.92;
}

.menu-navigation-icons a i {
    display: block;
    line-height: 2;
}

.menu-navigation-icons a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Menu colors */

.menu-navigation-icons a.menu-magenta	{ background-color: #dc68bf; }
.menu-navigation-icons a.menu-magenta i { color: #9d518a; }

.menu-navigation-icons a.menu-blue		{ background-color: #57b2d8; }
.menu-navigation-icons a.menu-blue i	{ color: #3e8fb1; }

.menu-navigation-icons a.menu-green		{ background-color: #8ccc7a; }
.menu-navigation-icons a.menu-green i	{ color: #6fad5e; }

.menu-navigation-icons a.menu-yellow	{ background-color: #dadf50; }
.menu-navigation-icons a.menu-yellow i	{ color: #babe4a; }

.menu-navigation-icons a.menu-red 		{ background-color: #f26262; }
.menu-navigation-icons a.menu-red i		{ color: #d34646; }

/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-icons{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body {
 margin: 0;
  } 
#slider{

	width: 100%;
	height: 700px;
}
div#slider { 
	overflow: hidden; 
}
div#slider figure img { 
	width: 20%; 
	float: left; 
/*height: 50%;*/
}
/*img {
	height: 700px;
}*/
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

div#slider h3{

	position: absolute;
	z-index: 20;
	color: white;
	text-transform: uppercase;
	/*font-size: 3em;*/
	top: 50px;
	left: 50%;
	font-family: 'Bubblegum Sans', cursive;
}
/***** Features *****/


.features{
width: 100%;
height: 700px;
/*background-image:url(../img/pattern_bg.png);*/

/*z-index: 10;*/
position: absolute;
}
#templatemo_features {
    background: #dc68bf;
    background-image: url(../img/pattern_bg.png) fixed;
    padding-bottom: 130px;
   /* background-image:url(../img/pattern_bg.png) fixed;*/
    width: 100%;
    height: 700px;
    /*height: auto;*/
}
.template_header {
	color: whitesmoke;
	text-transform: uppercase;
	font-family: 'Bubblegum Sans', cursive;
}
#templatemo_features p {
    padding-bottom: 30px;
    text-align: center;

}
#templatemo_features .feature-box {
    transition: all .5s;
    background: transparent;
    padding: 40px 0 40px 0;
    margin-bottom: 0px;
    margin-top: 0px;
}
#templatemo_features .feature-box:hover {
    padding: 0;
    color: #fff;
}
#templatemo_features .feature-box .feature-box-inner {
    box-shadow: inset 0px 0px 0 10px #cecece;
    border-bottom: 10px solid #cecece;
    border-top: 10px solid #cecece;
    transition: all .5s;
    background: #fff;
    padding: 20px;
    margin: auto;
}
#templatemo_features .feature-box:hover .feature-box-inner {
    box-shadow: inset 0px 0px 0px 0px #cecece;
    border-bottom: 10px solid #3d799f;
    border-top: 10px solid #3d799f;
    padding: 60px 20px 60px 20px;
    background: #3399cc;

}
#templatemo_features .feature-box p {
    max-width: 250px;
    min-height: 260px;
    line-height: 32px;
    padding-top: 30px;
    font-size: 18px;
    margin: auto;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: 200;
}
#templatemo_features .feature-box .feature-box-icon h2 {
    border-radius: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color:#233842;
    text-transform: uppercase;
    font-family: 'Bubblegum Sans', cursive;
}
/*ROW THREE*/
.three {
	width: 100%;
	/*height: auto;*/
	height: 300px;
}